<!DOCTYPE html>
<html lang="fr">
<head>
    <title>To-Do Jules</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="nav-left">
                <h1>La TO-DO Liste de Jules</h1>
            </div>
            <div class="nav-right">
                <form action="/Disconnect" method="get">
                    <button type="submit" class="disconect-btn">Disconnect</button>
                </form>
            </div>
        </div>
    </div>
    <div class="layout">
        <aside class="sidebar">
            <h2>Les Listes</h2>
            <% Object.entries(lists).forEach(([listId, list]) => { %>
                <button type="button" onclick="loadList(<%= Number(listId) %>)"><%= list.name %></button>
              <% }) %>
        </aside>
    
        <main class="content">
            <div id="list-items-container"></div>
        </main>
    </div>
</body>
</html>