<!DOCTYPE html>
<html lang="en">
<head>
    <title>To-Do Jules</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="nav-left">
                <h1>La TO-DO Liste de Jules</h1>
            </div>
            <div class="nav-right">
                <form action="/Disconnect" method="get">
                    <button type="submit" class="disconect-btn">Disconnect</button>
                </form>
            </div>
        </div>
    </div>
    <div class="layout">
        <aside class="sidebar">
            <h2>Les Listes</h2>
            <div class="sidebar-inner">
                <% Object.entries(lists).forEach(([listId, list]) => { %>
                    <button class="button" type="button" onclick="loadList(<%= Number(listId) %>)"><%= list.name %></button>
                    <button class="button" type="button" onclick="deleteList(<%= Number(listId) %>)">Delete</button>
                <% }) %>    
            </div>
            <form action="/createList" method="POST" class="new-list-form" style="margin-top: 2rem;">
                <input type="text" name="listName" placeholder="Nom de la nouvelle liste" required />
                <button type="submit">Créer la liste</button>
            </form>
        </aside>
    
        <main class="content">
            <div class="list"id="list-items-container"></div>
            <form id="add-item-form" style="margin-top: 2rem;">
                <input type="text" id="new-item-name" placeholder="Nouvel élément..." required />
                <button type="submit">Ajouter</button>
            </form>
        </main>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>