<!DOCTYPE html>
<html lang="fr">
<head>
    <title>To-Do Site</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="nav-left">
                <h1>La TO-DO Liste de Jules - Login</h1>
            </div>
            <div class="nav-right">
                <form action="/register" method="get">
                    <button type="submit" class="disconect-btn button">Register</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="block">
            <div class="block-inner">
                <div class="block-middle">
                    <form class="form" action="/login_form" method="post">
                        <input class="input" type="text" placeholder="Username" name="Username" required /><br>
                        <input class="input" type="text" placeholder="Password" name="Password" required /><br>
                        <button class="button" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>