<!DOCTYPE html>
<html lang="fr">
<head>
    <title>To-Do Site</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="nav-left">
                <h1>La TO-DO Liste de Jules - Register</h1>
            </div>
                <div class="nav-right">
            </div>
        </div>
    </div>
    <div>
        <div class="block">
            <div class="block-inner">
                <div class="block-middle">
                    <form class="form" action="/register_form" method="post">
                        <input class="input" type="text" placeholder="Username" name="Username" required />
                        <input class="input" type="text" placeholder="Password" name="Password" required />
                        <button class="button" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>