<!DOCTYPE html>
<html lang="fr">
<head>
    <title>To-Do Site</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <form action="/register_form" method="post">
            <input type="text" placeholder="Username" name="Username" required />
            <input type="text" placeholder="Password" name="Password" required />
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>